{% extends "index.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="outline">
        <h2>Employees</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Employee #</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Phone #</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Houlry Pay</th>
            </tr>
            </thead>
            {% for employee in employees %}
            <tr>
                <th>{{ loop.index }}</th>
                <td>{{ employee.employee_id}}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.start_date }}</td>
                <td>{{ employee.end_date  }}</td>
                <td>{{ employee.hourly_pay }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Servers</h2>
        <table class="table">
            <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Employee #</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Phone #</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Houlry Pay</th>
              </tr>
            </thead>
            {% for server in servers %}
              <tr>
                  <th>{{ loop.index }}</th>
                  <td>{{ server.employee_id}}</td>
                  <td>{{ server.last_name }}</td>
                  <td>{{ server.first_name }}</td>
                  <td>{{ server.phone }}</td>
                  <td>{{ server.start_date }}</td>
                  <td>{{ server.end_date  }}</td>
                  <td>{{ server.hourly_pay }}</td>
              </tr>
            {% endfor %}
        </table>
        <h2>Managers</h2>
            <table class="table">
                <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Employee #</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Phone #</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">End Date</th>
                      <th scope="col">Houlry Pay</th>
                  </tr>
                </thead>
                {% for manager in managers %}
                  <tr>
                      <th>{{ loop.index }}</th>
                      <td>{{ manager.employee_id}}</td>
                      <td>{{ manager.last_name }}</td>
                      <td>{{ manager.first_name }}</td>
                      <td>{{ manager.phone }}</td>
                      <td>{{ manager.start_date }}</td>
                      <td>{{ manager.end_date  }}</td>
                      <td>{{ manager.hourly_pay }}</td>
                  </tr>
                {% endfor %}
            </table>
            <h2>New Hire</h2>
            <form action="{{ url_for('hire') }}" method="post">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" required name="firstName" id="firstName" placeholder="John">
                </div>
                <div class="form-group col-md-4">
                  <label for="lastName">Last Name</label>
                  <input type="password" class="form-control" required name="lastName" id="lastName" placeholder="Smith">
                </div>
                <div class="form-group col-md-4">
                  <label for="position">Position</label>
                  <select class="exampleFormControlSelect1"name="position">
                      <option value="employee">Employee</option>
                      <option value="server">Server</option>
                      <option value="manager">Manager</option>
                  </select>
                </div>
              </div>
                  <div class="form-row">
                      <div class="col">
                          <div class="form-group">
                            <label for="phone">Phone #</label>
                            <input type="number" class="form-control" required name="phone" id="phone" placeholder="7571234567">
                          </div>
                      </div>
                      <div class="col">
                          <div class="form-group">
                            <label for="pay">Pay</label>
                            <input type="number" class="form-control" required name="pay" id="inputAddress2" placeholder="7.25" min="7.25" step="0.01">
                          </div>
                      </div>
                  </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <h2>Terminate</h2>
            <form action="{{ url_for('terminate') }}" method="post">
                <div class="form-row">
                  <div class="col">
                      <div class="form-group">
                        <label for="employeeId">Employee ID</label>
                        <input type="number" class="form-control" required name="employeeId" id="employeeId" placeholder="123456">
                      </div>
                  </div>
                  <div class="col">
                      <label for="position">Position</label>
                      <select class="exampleformControlSelect1" name="position">
                          <option value="employee">Employee</option>
                          <option value="server">Server</option>
                          <option value="manager">Manager</option>
                      </select>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
{% if error %}
  <div class="container">
    <div class="alert alert-danger">
      <strong>Error!</strong> Your query did not match any results :[
    </div>
  </div>
{% endif %}
   </div>
</div>

{% endblock %}
