{% extends "index.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="outline">
        <h1>Inventory</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Name</th>
                <th scope="col">Reorder Number</th>
                <th scope="col">Price per Unit</th>
                <th scope="col">Current Inventory</th>
                <th scope="col">Vendor</th>
                <th scope="col">Vendor ID</th>
            </tr>
            </thead>
            {% for item in invList %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td class="name">{{ item.stock_name}}</td>
                <td class="id">{{ item.reorder_id}}</td>
                <td class="price">{{ item.price_per_unit}}</td>
                <td class="count">{{ item.unit_count}}</td>
                <td class="vendor">{{ item.vendor_name}}</td>
                <td class="vendorID">{{ item.vendor_id}}</td>

                {% endfor %}
        </table>

        <h1>Vendor Details</h1>
        <form action="{{  url_for('vendDetails') }}", method="post">
            <label>Vendor ID</label>
            <input type="number" class="form-control" name="vendorID">
            <button type="submit" class="btn btn-primary">Send </button>
        </form>

        {% if vendor %}
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vendor Name</th>
                    <th scope="col">Vendor ID</th>
                    <th scope="col">Vendor Phone</th>
                </tr>
                </thead>
                {% for vend in vendor %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td class="name">{{ vend.vendor_name}}</td>
                    <td class="id">{{ vend.vendor_id }}</td>
                    <td class="phone">{{ vend.phone }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}